<div class="space-y-3">
  <%= render "ui/card/title", content: "New Block" %>
  <div class="flex flex-wrap gap-2">
    <% available_method_names(model).each do |method_name| %>
      <%= render "ui/navigation_menu/link",
                  href: darwin.new_model_block(model, method_name: method_name),
                  trigger_style: true do %>
        Add <%= method_name.humanize %>
      <% end %>
    <% end %>
  </div>
</div>
